<tui-root>
    <div class="header fx">
        <div class="header-types-wrapper">
            <ul class="header-types-list fx">
                <li class="type-item static"><a href=""> Легковые</a></li>
                <li class='type-item'> <a href=""> Коммерческие</a></li>
                <li class='type-item'> <a href="">Мото</a></li>
                <li class='type-item'><a href="">Электромобили</a></li>
                <li class='type-item'><a href="">О нас</a></li>

            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>
</tui-root>